body {
  height: 100vh;
  background: #ddd;
  display: flex;
  padding: 2rem;
  font-family: 'Roboto', sans-serif;
}

.App {
  margin: 0;
  padding: 0;
  width: max-content;
  box-sizing: border-box;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.quote-container {
  max-width: 22rem;
  margin-top: 1rem;
}

.quote {
  font-style: oblique;
}

.Display {
  height: 4rem;
  width: 100%;
  background-color: gray;
  color: white;
  display: flex;
  font-size: larger;
  font-weight: bold;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 0;
  border-radius: 1px;
}

.ButtonPanel {
  display: flex;
  flex-direction: column;
}

.button {
  width: 70px;
  height: 70px;
}

.operation-button {
  background: rgb(230, 164, 43);
}

.LastRow {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.LastRow button {
  width: 100%;
}

.op button {
  background-color: rebeccapurple;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #aaa9a9;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}